/* InfoPage.css */
.info-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;
  }
  
  .info-content {
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  