@media (min-width: 1025px) {
    .translate-icon:hover {
        fill: red;
        color: red;
        cursor: pointer;
    }

}



.image-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-item {
    text-align: center;
    cursor: pointer;
}

.img-caption {
    margin: 0;
}

.empty-item {
    width: 228px;
    height: 161px;
    background-color: black;
    border-radius: 5px;
  }

.note-item:hover {
    .img-zoom img {
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out;
    }
    
    .img-caption {
        color: #c8000f;
    }
}

.note-item img {
    width: 100%;
    height: auto;
}

.img-zoom {
    display: inline-block;
    overflow: hidden;
}

.translate-icon {
    width: 20px;
    fill: #c8000f;
    color: red;
}