/* Filters.css */
.filters {
  align-items: center;
  position: flex; /* Position relative to the Header component */
  width: 75%;
  background-color: #1f2224;
  padding: 20px;
  border-radius: 5px;
  margin: auto;
  color: white;
  display: flex; /* Use flexbox to arrange children in a row */
  flex-direction: column; /* Align children horizontally */
  justify-content: space-around; /* Distribute space evenly around the containers */
}

.row-container {
  display: flex;
  flex-direction: row; /* Align children horizontally */
  justify-content: space-around; /* Distribute space evenly around the containers */
  width: 100%;
}

.mediums-container {
  display: flex;
  flex-direction: column;
  background-color: #2c2f33; /* Adjust the background color as needed */
  padding: 15px;
  width: auto; /* Adjust the width to fit content */
  margin-right: 20px; /* Add space between the containers */
  border-radius: 5px;
  margin-bottom: 20px; /* Space between this container and the next content */
  padding-top: 0;
}

.mediums-title {
  margin-top: 0;
  font-family: 'Noto Serif JP';
  font-size: calc(0.9em + 1.8vw);
  color: #c8000f;
  font-weight: 100;
  letter-spacing: 0.07em;
  margin-bottom: 0;
  border-bottom: 1px solid white; /* Adjust the color as needed */
}
